<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="styesheet" href="/public/style.css">
</head>
<body>
    
    <header>
        <nav>
        <a href="/">Home Page</a>
        <a href="/products">Products</a>
        <a href="products/addProducts">Add Products</a>
        <a href="users/addUsers">Users</a>
    </nav>
    </header>

    <h1>Welcome to Home Page</h1>
    
</body>
</html>